@model List<CarBook.DTO.BrandDtos.CarListByBrand>
@{
    ViewData["Title"] = "CarListByBrand";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0 font-weight-bolder">
                            <li class="breadcrumb-item "><a href="javascript: void(0);">CarBook</a></li>
                            <li class="breadcrumb-item "><a href="#">@ViewBag.brandid Numaralı Markanın Araç Listesi</a></li>
                        </ol>
                    </div>
                    <a href="/AdminCars/CreateCar" class="btn btn-secondary ml-auto">Araçlar</a>
                </div>
                <div class="text-center table-responsive">
                    <table class="table mb-0">
                        <thead class="text-white" style="background-color:#E57373">
                            <tr>
                                <th>#</th>
                                <th>Marka</th>
                                <th>Model</th>
                                <th>Yıl</th>
                                <th>Şanzıman Tipi</th>
                                <th>Yakıt Tipi</th>
                                <th style="width:150px">Detaylar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var car in Model)
                            {

                                <tr>
                                    <td>@car.carId</td>
                                    <td>@car.brandname</td>
                                    <td>@car.model</td>
                                    <td>@car.year</td>
                                    <td>@car.transmission</td>
                                    <td>@car.fuel</td>
                                    <td>
                                        <a href="" class="btn btn-outline-secondary">
                                            <span class="mdi mdi-arrow-down-drop-circle-outline mdi-18px"></span>
                                            Detaylar
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
