@model CarBook.DTO.CarDtos.CarDetailDto
<style>
    .car-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 900px;
        height: 450px;
        overflow: hidden; /* İsteğe bağlı, resmi kapsayıcı alanla sınırlamak için */
    }

    .img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }
</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="car-details">
                <div class="img-container">
                    <div class="img rounded" style="background-image: url(@Model.CoverImageUrl);"></div>
                </div>
                <div class="text text-center">
                    <span class="subheading">@Model.BrandName</span>
                    <h2>@Model.Model</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services">
                <div class="media-body py-md-4">
                    <div class="d-flex mb-3 align-items-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-dashboard"></span></div>
                        <div class="text">
                            <h3 class="heading mb-0 pl-3">
                                Kilometre
                                <span>@Model.Km</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services">
                <div class="media-body py-md-4">
                    <div class="d-flex mb-3 align-items-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-pistons"></span></div>
                        <div class="text">
                            <h3 class="heading mb-0 pl-3">
                                Şanzıman
                                <span>
                                    @Model.Transmission
                                </span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services">
                <div class="media-body py-md-4">
                    <div class="d-flex mb-3 align-items-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-car-seat"></span></div>
                        <div class="text">
                            <h3 class="heading mb-0 pl-3">
                                Koltuk Sayısı
                                <span>@Model.Seat</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services">
                <div class="media-body py-md-4">
                    <div class="d-flex mb-3 align-items-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-backpack"></span></div>
                        <div class="text">
                            <h3 class="heading mb-0 pl-3">
                                Bagaj Hacmi
                                <span>@Model.Luggage Litre</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services">
                <div class="media-body py-md-4">
                    <div class="d-flex mb-3 align-items-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-diesel"></span></div>
                        <div class="text">
                            <h3 class="heading mb-0 pl-3">
                                Yakıt Tipi
                                <span>@Model.Fuel</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









