@model CarBook.DTO.CarDtos.CarDetailDto
<style>
  

    .col-md {
        margin-bottom: 0.5rem; /* Kolonlar arasındaki boşluğu da azaltıyoruz */
    }

    .car-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 450px;
        overflow: hidden; /* İsteğe bağlı, resmi kapsayıcı alanla sınırlamak için */
    }

    .img1 {
        max-width: 850px; /* Genişliği maksimum 850px olacak şekilde sınırlandırıyoruz */
        width: 849px; /* Mevcut alanı doldurması için */
        height: auto; /* Orijinal en-boy oranını korumak için */
    }
</style>
<div style="margin-top:-4em" class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="car-details">
                <div class="img-container">
                    <img src="@Model.BigImageUrl" class="img1" />
                </div>
                <div class="text text-center">
                    <span class="subheading font-weight-bold">@Model.BrandName</span>
                    <h2>@Model.Model (@Model.Year)</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services">
                <div class="media-body py-md-4">
                    <div class="d-flex mb-3 align-items-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
                        <div class="text">
                            <h3 class="heading mb-0 pl-3">
                                Kilometre
                                <span>@Model.Km</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services">
                <div class="media-body py-md-4">
                    <div class="d-flex mb-3 align-items-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-pistons"></span></div>
                        <div class="text">
                            <h3 class="heading mb-0 pl-3">
                                Şanzıman
                                <span>
                                    @Model.Transmission
                                </span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services">
                <div class="media-body py-md-4">
                    <div class="d-flex mb-3 align-items-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-car"></span></div>
                        <div class="text">
                            <h3 class="heading mb-0 pl-3">
                                Motor Hacmi
                                <span>@Model.Engine</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services">
                <div class="media-body py-md-4">
                    <div class="d-flex mb-3 align-items-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-dashboard"></span></div>
                        <div class="text">
                            <h3 class="heading mb-0 pl-3">
                                Motor Gücü
                                <span>@Model.Power</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:-4.3em">
        <div class="col-md d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services">
                <div class="media-body py-md-4">
                    <div class="d-flex mb-3 align-items-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-diesel"></span></div>
                        <div class="text">
                            <h3 class="heading mb-0 pl-3">
                                Yakıt Tipi
                                <span>@Model.Fuel</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services">
                <div class="media-body py-md-4">
                    <div class="d-flex mb-3 align-items-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-wedding-car"></span></div>
                        <div class="text">
                            <h3 class="heading mb-0 pl-3">
                                Kasa Tipi
                                <span>@Model.BodyType</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services">
                <div class="media-body py-md-4">
                    <div class="d-flex mb-3 align-items-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-car-seat"></span></div>
                        <div class="text">
                            <h3 class="heading mb-0 pl-3">
                                Koltuk Sayısı
                                <span>@Model.Seat</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services">
                <div class="media-body py-md-4">
                    <div class="d-flex mb-3 align-items-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-backpack"></span></div>
                        <div class="text">
                            <h3 class="heading mb-0 pl-3">
                                Bagaj Hacmi (Litre)
                                <span>@Model.Luggage</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









