@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<h1>
    @ViewBag.pickdate //// 
    @ViewBag.offdate////
    @ViewBag.picktime//// 
    @ViewBag.offtime////
    @ViewBag.locationid////
</h1>
