@model List<CarBook.DTO.CarDtos.CarIndexDto>
<div class="row">
    @foreach (var car in Model)
    {
        <div class="col-md-4">
            <div class="car-wrap rounded ftco-animate">
                <div class="img" style="background-image: url(@car.coverImageUrl);">
                </div>
                <div class="text">
                    <h2 class="mb-0"><a href="car-single.html">@car.brandName @car.carModel</a></h2>
                    <div class="d-flex mb-3">
                        <span style="color:black">#@car.carId</span>
                        <p class="price ml-auto">@Convert.ToInt32(@car.dailyAmount)₺ <span>Günlük</span></p>
                    </div>
                    <p class="d-flex mb-0 d-block">
                        <a href="/Reservation/Index/@car.carId?brandName=@car.brandName&carModel=@car.carModel" class="btn btn-primary py-2 mr-1">Hemen Kirala</a>
                        <a href="/Car/CarDetail/@car.carId" class="btn btn-secondary py-2 ml-1">Araç Bilgileri</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>