@model List<CarBook.DTO.CarPricingsDtos.CarListFilterDto>

@{
    ViewData["Title"] = "FilterIndex";
    Layout = "~/Views/UILayout/Index.cshtml";
}

}

<section class="ftco-section bg-light">
    <div class="container">

        <partial name="~/Views/Car/_CarFilterBarPartial.cshtml" />

        <div class="row">
            @if (Model != null && Model.Any()) // Model null değilse ve boş değilse
            {
                @foreach (var car in Model)
                {


                    <div class="col-md-4">
                        <div class="car-wrap rounded ftco-animate">
                            <div class="img rounded d-flex align-items-end" style="background-image: url(@car.coverImageUrl);">
                            </div>
                            <div class="text">
                                <h2 class="mb-0"><a href="car-single.html">@car.brandName @car.carModel</a></h2>
                                <div class="d-flex mb-3">
                                    <span style="color:black">#@car.carId</span>
                                    <p class="price ml-auto"> @Convert.ToInt32(@car.dailyAmount)₺ <span>Günlük</span></p>
                                </div>
                                <p class="d-flex mb-0 d-block"><a href="/Reservation/Index/@car.carId" class="btn btn-primary py-2 mr-1">Hemen Kirala</a> <a href="/Car/CarDetail/@car.carId" class="btn btn-secondary py-2 ml-1">Araç Bilgileri</a></p>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {

                <h3>Araç Bulunamadı</h3>
            }


        </div>

        @* div class="row mt-5">
        <div class="col text-center">
        <div class="block-27">
        <ul>
        <li><a href="#">&lt;</a></li>
        <li class="active"><span>1</span></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&gt;</a></li>
        </ul>
        </div>
        </div>
        </div> *@
    </div>
</section>



