@model List<CarResultDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<style>
    .custom-margin {
        margin-top: 20px !important;
    }
    .car-wrap {
        transition: transform 0.3s, box-shadow 0.3s;
        height: 375px;
        overflow: hidden;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    }

        .car-wrap:hover {
            transform: scale(1.05);
            box-shadow: 0 0 15px rgba(0, 123, 255, 0.7);
        }



        .car-wrap .text {
            padding: 15px;
            background-color: #fff;
            border-radius: 0 0 8px 8px;
        }

        .car-wrap h2 a {
            font-size: 20px;
            color: #343a40;
            text-decoration: none;
        }

            .car-wrap h2 a:hover {
                color: #007bff;
            }


    .price {
        color: #28a745;
        font-size: 18px;
        font-weight: bold;
    }

</style>

<section class="ftco-section bg-light">

    <div class="container">

        <!----------------------------------------------FilterBar----------------------------------------------------->
        <div class="row">
            <partial name="~/Views/Car/_CarFilterBarPartial.cshtml" />
        </div>
        <br />
        <!----------------------------------------------FilterBar----------------------------------------------------->

        <div class="xd">
            <div class="row">
                 @foreach (var car in Model)
        {
                    <div class="col-md-4">
                        <div class="car-wrap rounded ftco-animate">
                            <div class="img" style="background-image: url(@car.carCoverImageUrl);">
                            </div>
                            <div class="text">
                                <h2 class="mb-0"><a href="car-single.html">@car.brandName @car.carModel</a></h2>
                                <div class="d-flex mb-3">
                                    <span class="mr-auto" style="color:gray;">
                                        <i ></i> @car.carTransmission |
                                        <i ></i> @car.carFuel
                                    </span>
                                    <p class="price ml-auto">@Convert.ToInt32(@car.amount)₺ <span>Günlük</span></p>
                                </div>
                                <p class="d-flex mb-0 d-block custom-margin">
                                    <a href="/Reservation/Index/@car.carId?brandName=@car.brandName&carModel=@car.carModel" class="btn btn-primary py-2 mr-1">Hemen Kirala</a>
                                    <a href="/Car/CarDetail/@car.carId" class="btn btn-secondary py-2 ml-1">Araç Bilgileri</a>
                                </p>
                            </div>
                        </div>
                    </div>
        }
            </div>
        </div>
    </div>

</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        // Sort Dropdown
        $("#sortDropdown").change(function () {
            applyFilters(); // Filtreleri uygula
        });

        // BodyType Dropdown
        $('#bodyTypeDropdown').change(function () {
            applyFilters(); // Filtreleri uygula
        });

        // Brand Dropdown
        $("#brandDropDown").change(function () {
            applyFilters(); // Filtreleri uygula
        });
        $("#fuelTypeDropdown").change(function () {
            applyFilters(); // Filtreleri uygula
        });

        // Search Input
        $("#searchInput").on('input', function () {
            applyFilters(); // Filtreleri uygula
        });
        $("#minKm").on('input', function () {
            applyFilters(); // Filtreleri uygula
        });
        $("#maxKm").on('input', function () {
            applyFilters(); // Filtreleri uygula
        });


        // "Temizle" Butonuna Tıklama Olayı
        $("#clearFilters").click(function () {
            $.ajax({
                url: '/Car/JsonIndex',
                type: 'GET',
                success: function (data) {
                    $('.xd').html(''); // Filtrelenmiş sonuçları temizle
                    $('.xd').html(data); // Varsayılan listeyi doldur
                    $("#sortDropdown, #bodyTypeDropdown, #brandDropDown, #fuelTypeDropdown").prop('selectedIndex', 0); // Dropdownları sıfırla
                    $("#searchInput").val(''); // Arama inputunu temizle
                    $("#minKm").val(''); // Arama inputunu temizle
                    $("#maxKm").val(''); // Arama inputunu temizle
                },
                error: function () {
                    alert('Bir hata oluştu. Lütfen tekrar deneyin.');
                }
            });
        });

        // Filtreleri Uygulayan Fonksiyon
        function applyFilters() {
            var sortOrder = $("#sortDropdown").val();  // Sıralama türü
            var selectedBodyType = $('#bodyTypeDropdown').val();  // Gövde tipi
            var brandId = $("#brandDropDown").val();  // Marka ID
            var searchQuery = $("#searchInput").val(); // Arama terimi
            var fuelType = $("#fuelTypeDropdown").val(); // Arama terimi
            var minimumKm = $("#minKm").val(); // Arama terimi
            var maximumKm = $("#maxKm").val(); // Arama terimi

            $.ajax({
                url: '/Car/JsonIndex',
                type: 'GET',
                data: {
                    sortOrder: sortOrder,
                    bodytype: selectedBodyType,
                    brandid: brandId,
                    search: searchQuery, // Arama terimini gönder
                    fuel: fuelType,// Arama terimini gönder
                    maxkm: maximumKm,// Arama terimini gönder
                    minkm: minimumKm// Arama terimini gönder
                },
                success: function (data) {
                    $('.xd').html('');  // İçeriği boşalt
                    $('.xd').html(data);  // Yeni veriyi ekle
                },
                error: function () {
                    alert('Bir hata oluştu. Lütfen tekrar deneyin.');
                }
            });
        }
    });

</script>